:root{
    --background-col:#F3EEE8;
    --text-col:#A06056;
    --ul-col:#706458;
    --be-awere-col: #121212;
    --button-back-col: #534B42;
    --service-col:rgba(112, 100, 88, 0.9);
    --input-col:rgba(243, 238, 232, 0.3);
}