*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
.parent-container{
    /* border: 3px solid tomato; */
    display: flex;
    /* position: relative; */
}

.left-container{
    padding: 40px 60px;
    background: var( --background-col);
    justify-content: space-between;
    width: 50%;
    border: 2px solid green;
    justify-content: center;
}
.parent-container .mobile-links{
    position: fixed;
}
.mobile-links{
    width: 50%;
    display: none;
    height: 100vh;
    border: 3px solid tomato;
    background: var( --ul-col);
    /* position: absolute; */
    /* background-attachment: fixed; */
    right: 0;
    top: 0;
}
/* =====hamburger starts here==== */
.hamburger{
    border: 3px solid blue;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 55px;
    display: none;
}
.menubar{
    width: 90%;
    height: 5px;
    /* border: 3px solid white; */
    background: var( --menu-col);
    position: relative;
}
.menubar::before,
.menubar::after{
    content: '';
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 5px;
}
.menubar::before{
    transform: translateY(-15px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.menubar::after{
    transform: translateY(15px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.menubar::before:focus{
    transform: rotateX('45deg');
}

h4{
    font-weight: bolder;
    color: var( --text-col);
    padding-right: 30px;
    font-size: 55px;
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;

}
h2{
    font-family: 'Merriweather';
    color: var(--text-col);
    font-weight: 300;
font-size: 50px;

}
.home{
    padding: 40px 0;
    font-family: 'Varta';
    color: var(--text-col);
    font-size: 22px;
    font-weight: 300;
font-size: 22px;
    
}
.right-container{
    width: 50%;
    position: relative;
    background: url(./img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid  blue; */
    /* height: 700px; */
}
.icon{
    font-size: 50px;
    padding-bottom:  80px;
    
}
.font-icon {
    border: 3px solid var(--text-col) ;
    color: white;
    background-color: var(--text-col);
    border-radius: 50%;
}

.head{
display: flex;
align-items: center;
/* justify-content: space-evenly; */
/* width: 90%; */
/* border: 3px solid yellow; */
padding: 20px 0;
}
.upper{
    background: transparent;
}
.show .menubar::before{
    transform: rotate(45deg);
    transition: 1.5s;
}
.show .menubar::after{
    transform: rotate(-45deg);
    transition: 1.5s;
}
.lis{
    /* display: block; */
    width: 100%;
    border: 3px solid tomato;
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    padding: 10px;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 19px;
    color: var(--ul-col);
    /* border: 3px solid grey; */
    width: 90%;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
font-family: 'Varta', sans-serif;
font-weight: bold;
}
li{
    padding: 0 8px;
}
.message{
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 55px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.second-div{
    /* height: 900px; */
    /* border: 2px solid rgb(255, 71, 200); */
    display: flex;
    background: var(--background-col);
}

.second-first{
    width: 50%;
    /* border: 3px solid rgb(64, 15, 155); */
    height: 100%;
    padding: 55px 60px ;
}
.second-sec{
    width: 50%;
    /* border: 3px solid green; */
    padding: 30px 20px;
    height: 100%; 
}

.con{
    /* border: 3px solid blue; */
    display: flex;
    /* justify-content: space-between; */
    padding: 30px 10px;
    font-family: 'Varta';
    color: var( --service-col);
}
.con h5{
    font-weight: 600;
font-size: 25px;
line-height: 30px;
padding-bottom: 20px;
color: var(--text-col);
}
.write p{
    /* border: 3px solid gold; */
    color: var(--service-col);
}
.hard{
    padding-left: 40px;
}
.second-first h1{
    font-family: 'Merriweather';
    font-weight: 300;
font-size: 55px;
line-height: 60px;
color: var(--text-col);

}

.icon-holder{
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 3rem 0;
    color: var(--text-col);
    font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
}
.icon-holder h3{
    padding: 0 10px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;

}
.textt p{
    
font-family: 'Merriweather';
color: var(--service-col);
padding: 20px 0;
}

.textt h3{
    font-weight: 300;
font-size: 35px;
color: var(--be-awere-col);
}

.holder h3{
    font-weight: 700;
font-size: 17px;
font-family: 'Karla', sans-serif;
padding-right:15px;
color: var(--text-col);
}
input[type=text]{
    padding: 10px 35px;
    background: var(--input-col);
    margin-right: 20px;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

button{
    padding:15px 25px;
    background: var(--button-back-col);
    font-weight: 700;
    font-size: 17px;
    color: var( --background-col);
    border: 0;

}
.holder{
    display: flex;
    font-family: 'Karla';
    align-items: center;
    color: var(--text-col);
    
}
.btn{
    /* border: 3px solid greenyellow; */
    display: flex;
    
}