@media screen and (max-width:1239px) {
    /* @media (420px <= width <=1239px){ */
    /* body{
        background: green;
        
    } */
    .left-container{
        background: url(./img/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        width: 100%;
        text-align: center;
        align-items: center;
        max-width: 1305px;
    }
    .mobile-links{
        display: flex;
    }
    .second-div,.left-container{
        margin: 0;
        min-width: 420px;
      
        max-width: 1305px;
    }
    .head{
        justify-content: space-between;
        align-items: center;
    }
    .hamburger{
        /* position: fixed; */
        border: 3px solid yellow;
        /* width: 80%; */
    }
    .hamburger{
        display: flex;
        flex-direction: column;
      
    }
    .left-container h2,.home,h4{
        color: white;
    }
    ul{
        display: none;
    }
    .mobile-ul{
        display: block;
        margin-top: 130px;
       width: 100%; 
        justify-content: center;
        color: var( --background-col);
        flex-direction: column;
        border: 3px solid red;
    }
    .right-container{
        display: none;
    }
    
    .second-div{
        flex-direction: column;
        width: 100%;
    }
    .con{
        flex-direction: column;
        justify-content: flex-start;
        /* width: 100%; */
    }
    .hard{
        padding: 30px 10px;
    }
    
    .second-first,.second-sec{
        width: 100%;
    }
    .textt{
        display: none;
    }
    .footer{
        /* padding: 20px 0; */
        /* border: 3px solid rgb(61, 47, 255); */
        flex-direction: column;
        /* align-items: center; */
        justify-self: flex-start;
        width: 100%;
    }
    .btn{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        /* width: 100%; */
    }
    input[type=text]{
        /* margin-left: 5px; */
       
    }
    button{
        margin-top: 10px;
    }
}